﻿* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #77ccf7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #77ccf7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #77ccf7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #77ccf7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

.app {
    background: url(../images/IconoGalacMovil.png) no-repeat center top; 
    position: absolute;             
    left: 50%;
    top: 28%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 150px 0px 0px 0px;     
    margin: -115px 0px 0px -112px;

    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    transition: top 1s;

    background-size: 67%;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    /*background-color:#049a9a;*/
    display:none;
    color:#333333;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.cargando{
    top:50%;

    animation:escalar 1700ms infinite;
    -webkit-animation:escalar 1700ms infinite;
}

@keyframes escalar {
    from { background-size: 67%;     background-position-y: 50%;}
    50% { background-size: 72%;     background-position-y: 45%;}
    to { background-size: 67%;     background-position-y: 50%;}
}
 
@-webkit-keyframes escalar {
    from { background-size: 67%;     background-position-y: 50%;}
    50% { background-size: 72%;     background-position-y: 45%;}
    to { background-size: 67%;     background-position-y: 50%;}
}