﻿@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Light.ttf);
}

body {
    background-size: 400% 400%;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, label, li, ul, a, button, span {
    font-family: 'Montserrat', sans-serif;
}

#info-servicio p {
    font-family: Arial;
    font-size: 1em;
}

.cuadro-login a {
    display: inline-block;
    padding: 8px 0px;
}

.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.input-linea {
    border-bottom: 2px solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: #123962;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.00);
}

    .input-linea:hover {
    }

    .input-linea:focus {
        border-color: #2196F3;
        transition: border-color 0.3s ease-in;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.img-gestionar {
    width: 100px;
    margin-top: 20px;
}

.img-link, .img-link:hover, .img-link:active, .img-link:visited {
    text-decoration: none;
    color: #313131;
}

.opcion {
    background-color: #efefef;
    transition: opacity 0.3s;
}

    .opcion:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .opcion hr {
        border-color: #aaa;
    }

.padding-sesion {
    padding-left: 60px;
}

.text-white {
    color: white;
}

.text-overflow {
    max-width: 214px;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-wrap: break-word;
}

.tabla-datos-disponibles td, #TablaDeUsuariosParcial td {
    border: 3px solid white;
    background-color: #eee;
}

.tabla-datos-disponibles th, #TablaDeUsuariosParcial th {
    border: 3px solid white;
    background-color: #123962;
    color: white;
    text-align: center;
}

.no-radius {
    border-radius: 0px;
    margin: 3% 1% 3% 1%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.opcion-seleccionada {
    background-color: rgba(95, 255, 66, 0.29);
    transition: opacity 0.3s;
}

    .opcion-seleccionada:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .opcion-seleccionada hr {
        border-color: #aaa;
    }

.opcion-error {
    background-color: rgba(240, 122, 130, 0.69);
    transition: opacity 0.3s;
}

    .opcion-error:hover {
        opacity: 0.7;
    }

    .opcion-error hr {
        border-color: #aaa;
    }

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: lightgrey;
    padding: 15px;
    clear: both;
}

.IconoBD {
    position: absolute;
    top: 26%;
    right: 32%;
    width: 64px;
}

.IconBDListar {
    width: 32px;
    margin: 10px;
}

.EstadoConexionIcon {
    width: 20px;
    position: relative;
    left: 0%;
    margin: 15px;
}

.Cargando {
    position: relative;
    margin: 0 auto;
    cursor: wait;
    display: block;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: white;
}

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus,
    .navbar-inverse .navbar-nav > li > a:hover {
        color: black;
        background-color: rgb(214, 214, 214);
        transition: background-color 0.5s ease;
    }

.navbar-brand {
    text-transform: none;
}

.NuevoEstiloNavbar {
    background-color: #123962;
    border-color: white;
    padding: 0;
    font-size: 0.9em;
    text-align: left;
    border: 0;
}

.fix-navbar {
    right: 64px;
    left: 299px;
    border-bottom-width: -1px;
}

.btn-Index, .btn-Index:visited, .paginate_button, .paginate_button:visited {
    color: white;
    background-color: #1a5ea7;
    border: solid #1a5ea7;
}

    .btn-Index:hover, .btn-Index:active, .btn-Index:focus,
    .paginate_button:hover, .paginate_button:active, .paginate_button:focus {
        text-decoration: none;
        cursor: pointer;
        color: white;
        background-color: #1a5ea7;
        border: solid rgb(111, 167, 216);
        transition: border 0.5s ease;
    }

.Separador {
    background-color: #1a5ea7;
    color: white;
    padding: 0.5% 2%;
    margin: 0px -15px;
}

.info-servicio {
    background: white;
    margin: 0 -15px;
}

.info {
    width: 100%;
    background-color: white;
    margin: 60px 0 0 0;
    min-height: 320px;
    padding: 6%;
    color: black;
}

    .info h4 {
        color: black;
    }


.info-img {
    width: 256px;
    height: 256px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.mensaje-bienvenida {
    padding-top: 145px;
    height: 650px;
}

    .mensaje-bienvenida h1 {
        /*margin-top: 6%;*/
        font-size: 42px;
        font-style: oblique;
    }

.btn-primary, .current, .current:visited {
    color: white;
    background-color: #357ebd;
    border: solid #357ebd;
}

    .btn-primary:hover {
        border: solid rgb(111, 167, 216);
        transition: border 0.5s ease;
    }

    .current:hover, .current:active, .current:focus {
        color: white;
        background-color: #357ebd;
        border: solid #357ebd;
    }

.btn-danger {
    color: white;
    background-color: #d43f3a;
    border: solid #d43f3a;
}

    .btn-danger:hover {
        border: solid #dc504c;
        transition: border 0.5s ease;
    }

.AtomGif {
    width: 58%;
    margin: 1px;
}

#main {
    width: 600px;
    margin: 50px auto;
}

.text-justify {
    text-align: justify;
}

.text-primary {
    color: #3b89dc;
}

.icon1 {
    background-image: url(Imagenes/IconosBD/RET.ico);
}

.icon2 {
    background-image: url(Imagenes/IconosBD/AXI.ico);
}

.icon3 {
    background-image: url(Imagenes/IconosBD/SAW.ico);
}

.icon4 {
    background-image: url(Imagenes/IconosBD/Der.ico);
}

.icon5 {
    background-image: url(Imagenes/IconosBD/Nomina.ico);
}

.icon6 {
    background-image: url(Imagenes/IconosBD/WinCont.ico);
}

.table-fixed thead {
    width: 98.5%;
}

.table-fixed tbody {
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

    .table-fixed tbody td, .table-fixed thead > tr > th {
        float: left;
    }

.btn-green {
    color: #333;
    background-color: white;
    border: solid #3fa43a;
}

    .btn-green:hover, .btn-green:active, .btn-green:focus, .btn-green:visited {
        color: white;
        background-color: #2f842a;
        border: solid #3fa43a;
    }

.no-radius-only {
    border-radius: 0px;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-5 {
    margin-top: 5%;
}

.hidden {
    display: none;
}

.tabla-usuarios th {
    background-color: #123962;
    color: white;
    border: 3px solid white;
    text-align: center;
}

.tabla-usuarios td {
    border: 3px solid white;
    text-align: center;
    min-height: 61px;
    overflow-wrap: break-word;
    cursor: pointer;
}

.tabla-usuarios tbody > tr:hover {
    opacity: 0.65;
}

.seleccionable tr:hover {
    opacity: 0.7;
}


.jconfirm.jconfirm-material .jconfirm-box {
    border-radius: 0px;
    background-color: #eee;
    color: black;
    border: none;
}


    .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons button {
        border-width: 3px;
        border-style: solid;
        border-radius: 0px;
    }

        .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons button.btn-red {
            border-color: #d43f3a;
            background-color: #d43f3a;
            color: white;
        }

            .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons button.btn-red:hover {
                border-color: #d43f3a;
                background-color: #d43f3a;
                color: white;
            }

        .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons button.btn-default {
            color: white;
            background-color: #898989;
            border-color: #898989;
        }

            .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons button.btn-default:hover,
            .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons button.btn-default:focus,
            .jconfirm.jconfirm-material .jconfirm-box .jconfirm-buttons button.btn-default:active {
                color: white;
                background-color: rgba(51, 51, 51, 0.63);
                border: solid rgba(51, 51, 51, 0.63);
            }

.jconfirm span {
    color: #357ebd;
}

.img-credencial {
    width: 50px;
    margin: 10px;
}

.border-bottom-1 {
    border-bottom: solid 1px darkgray;
}

.tabla-credenciales {
    width: 100%;
}

.cuadro-mensaje {
    background-color: #eee;
    padding: 15px;
    text-align: center;
}

.cuadro-mensaje-error {
    background-color: rgba(255, 90, 90, 0.28);
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: white;
    background-color: rgb(214, 214, 214);
}

.navbar-nav > li > .dropdown-menu {
    border: solid 1px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #123962;
    color: white;
}

.navbar-inverse .navbar-toggle {
    border-color: #123962;
}

.dropdown-menu .divider {
    margin: 5px 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: black;
    background-color: rgb(214, 214, 214);
}

.encabezado-lista {
    border-radius: 0px;
    background-color: #333;
    color: white;
    border-color: #333;
}

.list-group {
    height: 210px;
    overflow-y: auto;
    background-color: white;
}

.ListaFlexible {
    max-height: 420px;
    overflow: auto;
}

.link-default {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

    .link-default:hover {
        text-decoration: none;
        cursor: pointer;
    }

.cuadro-login {
    background: none;
}

.cuadro-registro {
    background: rgba(255, 255, 255, 0.62);
}

.fondo-negocio {
    background: white;
}

#barra-lateral {
    color: white;
    background-color: #333;
    top: 50px;
    bottom: 0;
    max-height: 100%;
    left: 0px;
    overflow: hidden !important;
    position: fixed;
    width: 40px;
    padding: 0;
    -webkit-transition: width 0.5s ease;
    transition-duration: 0.5s;
    z-index: 1000;
}

    #barra-lateral:hover {
        height: 100%;
        width: 225px;
    }

    #barra-lateral a:hover, #barra-lateral a:focus {
        background: #444;
    }

    #barra-lateral .active {
        background: #444;
    }

#btnUsuario {
    color: white;
    margin-bottom: 5px;
}

#Usuarios-Suscritos ~ #UsuarioSeleccionado {
    background: rgb(220, 234, 247);
    padding-left: 20px;
}

#SeleccionadasPanel th, #DeseleccionadasPanel th {
    border: 0;
}

#SeleccionadasPanel > .filtrar, #DeseleccionadasPanel {
    max-height: 250px;
    overflow: auto;
}

#ListaFlexible {
    max-height: 420px;
    overflow: auto;
}

div.contenedor-logos {
    height: 40px;
    margin-left: -10px;
    margin-top: 0px;
    padding-left: 5px;
    width: 250px;
}

.contenedor-logos li > a {
    padding-top: 8px;
    width: 250px;
}

div.contenedor-logos span {
    margin-left: 8px;
    color: white;
    text-align: right;
}

.fondoRegistro {
    background-size: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    min-height: 90vh;
    z-index: -1;
    position: fixed;
}

.fondo-info {
    background-image: url(Imagenes/b2.png);
    background-size: 100%;
    margin: 0px -70px -20px -70px;
    background-repeat: no-repeat;
    background-position-y: 40%;
    min-height: 90vh;
}

.cuadro-login h3, .cuadro-login h4 {
    color: black;
}

.form-horizontal .control-label {
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a.no-hover:hover {
    background-color: #eee;
}

.navbar-collapse-options > span {
    color: white;
}

.dataTables_paginate {
    padding: 10px;
}

    .dataTables_paginate > .paginate_button {
        margin-right: 10px;
        padding: 5px;
    }

    .dataTables_paginate > span > .paginate_button {
        margin-right: 10px;
        padding: 5px;
    }

.label {
    font-size: 85%;
}

.tabla-config-usuarios {
    margin-bottom: 2%;
    background-color: #eee;
    border: solid 3px white;
}

    .tabla-config-usuarios > thead {
        background-color: #123962;
        color: white;
    }

        .tabla-config-usuarios > thead > tr > th {
            text-align: center;
            padding: 10px 0px;
        }

            .tabla-config-usuarios > thead > tr > th:hover {
                cursor: pointer;
                background-color: #1a5ea7;
            }

    .tabla-config-usuarios > tbody > tr > td {
        border: solid 3px white;
    }

.TablaConfig {
    height: 55vh;
    overflow: auto;
}

.UsuarioSeleccionado > table > thead > tr > th {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0px;
    border: solid 3px white;
}

.color-red {
    color: #a50904;
}

.color-green {
    color: #079800;
}

.collapse-icon {
    float: right;
    padding-right: 15px;
    margin-top: -4px;
    font-size: 20px;
}

.check-bd {
    position: absolute;
    right: 9%;
    top: 6%;
}

.icon-back {
    font-size: 120px;
    position: absolute;
    z-index: -1;
    color: #e4eaf7;
    right: 0%;
    top: 40px;
}

.inner-addon {
    position: relative;
}

    .inner-addon .glyphicon {
        position: absolute;
        padding: 10px;
    }


.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


@media only screen and (min-width: 300px) and (max-width: 480px) {

    .margin-top-10 {
        margin-top: 30%;
    }

    div.contenedor-logos {
        height: 40px;
        margin-left: 7px;
        margin-top: 0px;
        padding-left: 5px;
        width: 250px;
    }

    .no-padding-xs {
        padding-left: 0;
        padding-right: 0;
    }

    .font-xs {
        font-size: 10px;
    }

    .body-content {
        position: relative;
        left: 0;
        -webkit-transition: left 0.5s ease;
        transition-duration: 0.5s;
    }

    .menu-padding {
        position: absolute;
        left: 190px;
    }

    .fix-navbar-safari {
        position: absolute;
        height: 1000px;
        max-height: none;
    }

    .text-overflow {
        max-width: 108px;
        margin-bottom: 8px;
        overflow-x: auto;
        overflow-wrap: break-word;
    }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

.tabla-reportes th {
    text-align: left;
    cursor: pointer;
}

.tabla-reportes td {
    text-align: left;
}

.tabla-reportes thead > tr > th:hover {
    background-color: #1a5ea7;
}

.float-right {
    float: right;
}

.carousel-content {
    color: black;
    display: flex;
    align-items: center;
}

.text-carousel {
    width: 100%;
}

.cuentas-principales {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cuentas-secundarias {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.carnet {
    min-height: 130px;
    padding: 6px 3px 0px 0px;
}

.dialogo-demo {
    background-color: rgba(177, 194, 255, 0.26);
    width: 100%;
    text-align: center;
    border: solid 2px gray;
    border-radius: 6px;
    padding: 20px;
}

.dialogo {
    /*position: absolute;
    bottom: 0vh;
    right: 0vh;*/
}
